.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}

.sidebar__link {
  text-decoration: none;
  border: none;
  background: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.active {
  text-decoration: none;
  color: #fff;
}

.main {
  display: grid;
  grid-template-columns: 320px 480px;
  column-gap: 160px;
  width: 1280px;
  margin: 100px auto 0;
}

.description {
  margin: 35px 0 0;
}
