.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  align-self: flex-start;
  justify-self: start;
}

.details {
  display: flex;
  width: 520px;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 60px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 480px;
  height: 240px;
}